# Ignorar arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos temporários
*.tmp
*.log

# Ignorar ambientes virtuais
venv/
env/
.venv/
.env/

# Ignorar arquivos de configuração do VSCode
.vscode/
